@import './theme.css';

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: 'MesloLGS Nerd Font';
  font-size: 12px;
}

window#waybar {
  background-color: transparent;
  color: @foreground;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  background-color: @background;
  border-radius: 12px;
  padding-left: 8px;
  padding-right: 8px;
  opacity: 0.75;
}

window#waybar.empty #window {
  background-color: transparent;
}

/*
window#waybar.empty {
  background-color: transparent;
}
window#waybar.solo {
  background-color: #FFFFFF;
}
*/

/* window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
} */

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

label:focus {
  background-color: #000000;
}

#workspaces {
  background-color: @background;
  opacity: 0.75;
  border-radius: 12px;
  padding-left: 8px;
  padding-right: 8px;
}

#workspaces button {
  border: 1px solid transparent;
  border-radius: 50%;
  color: @foreground2;
  margin-right: -8px;
}

#workspaces button:first-child {
  margin-left: -8px;
}

#workspaces button:last-child {
  margin-right: -4px;
}

#workspaces button.active {
  color: @foreground;
}

#workspaces button:hover {
  color: @foreground3;
  box-shadow: none;
}

#network {
  background-color: @background;
  border: 1px solid @foreground;
  border-radius: 12px;
  color: @foreground;
  padding-left: 16px;
  padding-right: 16px;
}

#network.disconnected {
  background-color: #f53c3c;
}

#cpu {
  margin-right: 16px;
}

#memory {
  margin-right: 16px;
}

#disk {
  margin-right: 2px;
}

#temperature.critical {
  color: @red;
}

#motherboard {
  background-color: @background;
  opacity: 0.75;
  border-radius: 12px;
  margin-left: 8px;
  color: @foreground;
  padding-left: 12px;
  padding-right: 12px;
}

#bluetooth {
  margin-right: 16px;
}

#pulseaudio {
  margin-right: 16px;
}

#info {
  background-color: @background;
  opacity: 0.75;
  border-radius: 12px;
  margin-left: 8px;
  color: @foreground;
  padding-left: 12px;
  padding-right: 12px;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#battery {
}

#battery.charging,
#battery.plugged {
  color: #ffffff;
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  background-color: @background;
  opacity: 0.75;
  border-radius: 12px;
  color: @foreground;
  margin-left: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

#tray {
  background-color: @background;
  opacity: 0.75;
  border-radius: 12px;
  margin-left: 8px;
  color: @foreground;
  padding-left: 12px;
  padding-right: 12px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}
